
<div class="container-fluid">
    <div class = 'row'>
      <div class = "col-lg-12" id="idright">
        <!-- <span class = "login" (click)="signin()"> Log in </span>  -->
        <div  id='id1'>
            <h5>Make Books Your Friend And Enjoy Life To The Fullest</h5>
                  <button class='signupButton'(click)="signup()"> Sign Up</button>
                  <div ><button  class='loginButton'(click)="signin()"> Log in</button></div>
          </div>
      </div>
    </div>   
  </div>
 
