<div class="container-fluid">
    <div class="row">
        <mat-progress-bar mode="indeterminate" *ngIf="flag"></mat-progress-bar>
        <div class="col-sm-2" *ngIf="!flag">
            <br />
            <b>Book Genres:</b>
            <hr/>
            <div *ngFor="let item of data; let i = index;">
                <input type="checkbox"(change)="onChange($event, i, item)">
                  {{item.label}}<br /><br />
            </div>
        </div>
        <div class="col-sm-9">
            <div *ngFor="let book of booksList" >
                <mat-card class="example-card" (click)="oneBook(book.id)">
                      <img mat-card-image src={{book.image}} alt="Photo of a Shiba Inu">
                      <h6 id="data">{{book.title | limitTo: 20}}</h6>
                      <mat-card-subtitle>Author : {{book.author |  limitTo: 10}}</mat-card-subtitle>
                      <span mat-icon-button  color="accent">
                      <mat-icon color="accent" aria-label="Example icon-button with a heart icon">favorite</mat-icon>
                      </span><sup><b style="margin-right:4px">{{book.avgRating  }}</b>
                            <span >({{book.totalReters}})</span> </sup>
                      
                </mat-card>
              </div>
        </div>
      </div>
</div>
  
  




