input.ng-invalid.ng-touched , select.ng-invalid {
    border: 1px solid red;
}
.container{
    margin-top: 8px;
    width: 700px;
    height: 850px;
    border: 2px solid rgb(61, 189, 198);
    padding-right: 50px
}